<!doctype html>
<html lang="{{ app()->getLocale() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Lexicon </title>

        <!-- Fonts -->
       
        <!-- Styles -->
        <style>
        body {
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*
#bodybox {
  margin: auto;
  max-width: 550px;
  font: 15px arial, sans-serif;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}*/

#chatborder {
    overflow: scroll;
    height: 400px;
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
      width: 700px;
}

.chatlog {
   font: 15px arial, sans-serif;
}

#chatbox {
font-weight: 600;
position: absolute;
    width: 650px;
    bottom: 55px;
}

h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            /*styling message boards*/
            .msgcontainer {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            }

            .darker {
                border-color: #ccc;
                background-color: #ddd;
            }

            .msgcontainer::after {
                content: "";
                clear: both;
                display: table;
            }

            .msgcontainer img {
                float: left;
                max-width: 60px;
                width: 100%;
                margin-right: 20px;
                border-radius: 50%;
            }

            .msgcontainer img.right {
                float: right;
                margin-left: 20px;
                margin-right:0;
            }

            .time-right {
                float: right;
                color: #aaa;
            }

            .time-left {
                float: left;
                color: #999;
            }
            .textright{
                text-align: right;
                color: #795548;
                font-weight: 600;
            }
            .textleft{
                text-align: left;
                color: #3F51B5;
                font-weight: 600;
            }
            body{
                background: url("lexicon2.jpg");
            }
            #chatboxes{
                margin-bottom: 12%;
            }
        </style>
    </head>
    <body>
        <div class="flex-center position-ref full-height">
           

            <div class="content">
            	<!--
            		<div class="row"> 
					<div class="col-md-3">
						<div class=" " style="color: white">

						</div>
					</div>
					
                    <div class="col-md-3">
						<p class=" ">
		 					<p>Examples</li>
		 					 <p>Give Me the details of all the students</p>
							<p>whats the total number of students?</p>
							<p> who is the first student?</p>
							<p>give me the last student</p>
						</p>
					</div>
	           	</div>-->
	           	<br>
                <div class="row">
                	<div class="col-md-4 offset-4"><h4 class="" style="color: white">Ask the bot questions with the following keywords
							howdy,
							Hi,
							hello,
							names,
							numbers,
							details,
							name,
							total,
							irst,
							last,
							creator,
							age,
							live
							</h4>
							<br>
						</div>
					<div class="row">
                    <div class="col-md-6 offset-5 ">
                       <div id='bodybox'>
                          <div id='chatborder'>
                            <div id="chatboxes">

                            </div>
                            <input type="text" rows="5" name="chat" class="form-control" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        <script type="text/javascript"> 

            //links
//http://eloquentjavascript.net/09_regexp.html
//https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions
nlp = window.nlp_compromise;

var messages = [], //array that hold the record of each string in chat
  lastUserMessage = "", //keeps track of the most recent input string from the user
  botMessage = "", //var keeps track of what the chatbot is going to say
  botName = 'Lexicon', //name of the chatbot
  talking = true; //when false the speach function doesn't work
  creator ="samuel Kyama";
  //var hours = Math.abs(date1 - date2) / 36e5;
  age="9 hours";

  origin="Nairobi";
//
//
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//edit this function to change what the chatbot says
var names=["samuel kyama","Antony Kamau", "Bill onyango","endward munyao","pauline okwara", "peter kioni","mwenda omega","olean oten","omen intsa", "olunga Tes","otero man", "dj mwas"];
var numbers=[42458,4545,6775,4546,4556,6787,6743,5612,6789,3412,3456,5231,6788,2313,3411,4578];
//fuction che
function chatbotResponse() {
  talking = true;

  botMessage = "He hasn't taught me how to respond to that yet :("; //the default message

  var keywords=['hi','howdy','hello','names','numbers','details','name','total','first','last','creator','age','live'];
	var results="";
  for(var counter=0;counter<keywords.length;counter++){
  	
  	var match= lastUserMessage.match(new RegExp (keywords.join("|"),"g"));
  		//results.push(keywords[counter]);
  		//results.push(keywords[i]);
  		console.log("results");
  		console.log(match.toString());
  		results=match.toString();
  	
	
  	console.log(match);
  }

  if (results === 'hi' || lastUserMessage =='hello') {
    const hi = ['hi','howdy','hello']
    botMessage = hi[Math.floor(Math.random()*(hi.length))];;
  }
  else if(results === 'names' ){
    botMessage=" ";
   for(var i=0;i<names.length;i++){ botMessage =botMessage +" " + names[i] };
  }
   else if(results === 'numbers' ){
    
    botMessage = numbers;
  }
  else if(results === 'details' ){
     botMessage="This is the full list of students in computer science ";
     for(var i=0;i<names.length;i++){ botMessage +=" "+ names[i]+ " ID " +numbers[i] };
  }

  else if (results === 'name') {
    botMessage = 'My name is ' + botName;
  }
  else if (results === 'total') {
    botMessage = 'The total number of students is ' + names.length ;
  }
  else if (results === 'first') {
    botMessage = 'The first student is ' + names[0] ;
  }
  else if (results === 'last') {
    botMessage = 'The last student is ' + names[names.length-1] ;
  }
   else if (results === 'creator') {
    botMessage = creator  + ' is my creator';
  }
  else if (results === 'age') {
    botMessage = "I am "+age +" old";
  }
  else if (results === 'live') {
    botMessage = "I live in "+origin ;
  }

}
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//****************************************************************
//
//
//
//this runs each time enter is pressed.
//It controls the overall input and output
function newEntry() {
  //if the message from the user isn't empty then run 
  if (document.getElementById("chatbox").value != "") {
    //pulls the value from the chatbox ands sets it to lastUserMessage
    lastUserMessage = document.getElementById("chatbox").value;
    //sets the chat box to be clear
    document.getElementById("chatbox").value = "";
    //adds the value of the chatbox to the array messages
    messages.push("User : "+ lastUserMessage);
    //Speech(lastUserMessage);  //says what the user typed outloud
    //sets the variable botMessage in response to lastUserMessage
    chatbotResponse();
    //add the chatbot's name and message to the array messages
    messages.push( botName +" : " +  botMessage);
    // says the message using the text to speech function written below
    Speech(botMessage);
    //outputs the last few array elements of messages to html
  
      
       
    for (var i = 1; i < 3; i++) {
       
      if (messages[messages.length - i])
        if(i%2==0)
            var para = document.createElement("h5");
        else
            var para = document.createElement("h5");
        var node = document.createTextNode(messages[messages.length - i]);
       
        
        para.appendChild(node); 


        var element = document.getElementById("chatboxes");
        window.scrollTo(0,document.body.scrollHeight);
            element.appendChild(para);
            if(i%2==0){
                //user
                para.className += "msgcontainer";
                para.className += " textright";
            }
            else{
                para.className += "msgcontainer";
                para.className += " textleft";
            }
    }
    

  }
}

//text to Speech
//https://developers.google.com/web/updates/2014/01/Web-apps-that-talk-Introduction-to-the-Speech-Synthesis-API
function Speech(say) {
  if ('speechSynthesis' in window && talking) {
    var utterance = new SpeechSynthesisUtterance(say);
    //msg.voice = voices[10]; // Note: some voices don't support altering params
    //msg.voiceURI = 'native';
    //utterance.volume = 1; // 0 to 1
    //utterance.rate = 0.1; // 0.1 to 10
    //utterance.pitch = 1; //0 to 2
    //utterance.text = 'Hello World';
    //utterance.lang = 'en-US';
    speechSynthesis.speak(utterance);
  }
}

//runs the keypress() function when a key is pressed
document.onkeypress = keyPress;
//if the key pressed is 'enter' runs the function newEntry()
function keyPress(e) {
  var x = e || window.event;
  var key = (x.keyCode || x.which);
  if (key == 13 || key == 3) {
    //runs this function when enter is pressed
    newEntry();
  }
  if (key == 38) {
    console.log('hi')
      //document.getElementById("chatbox").value = lastUserMessage;
  }
}

//clears the placeholder text ion the chatbox
//this function is set to run when the users brings focus to the chatbox, by clicking on it
function placeHolder() {
  document.getElementById("chatbox").placeholder = "";
}
        </script>
    </body>
    
     <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>
